<!-- backend/templates/admin.html -->
<h1>Админ-панель</h1>

<!-- Форма добавления теста -->
<h3>Добавить тест</h3>
<form method="POST">

    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=50) }}
    </div>
    <div style="margin-top: 10px;">
        {{ form.subject.label }}<br>
        {{ form.subject() }}
    </div>
    <div style="margin-top: 10px;">
        {{ form.submit() }}
    </div>
</form>

<!-- Список тестов -->
<h3>Существующие тесты</h3>
<ul>
    {% for test in tests %}
    <li>{{ test.title }} ({{ test.subject }})</li>
    {% endfor %}
</ul>

<a href="/">На главную</a>