{% extends 'base.html' %}
{% block content %}

{{ super() }}

<head>
    <link rel="stylesheet" href="/static/style_chat.css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>    
</head>

<body>
    <h1>На этой странице можно задать вопрос по заданиям 12, 13</h1>

    <title>Чат с нейроассистентом</title>

    <h2>🤖 Нейроассистент</h2>
<!-- Диалоговое окно -->
    <div id="chat-box">
        <p><em>Задайте свой вопрос...</em></p>
    </div>

<!-- Форма ввода -->
<form id="chat-form">
    <input type="text" id="question" placeholder="Ваш вопрос...">
    <button type="submit">Отправить</button>
</form>

<div id="chat-box"></div>
</body>




{% endblock %}